.bg {
    background-image: url(./assets/ventbg01.png);
    width: 780px;
    height: 682px;
    background-size: cover;
    filter: brightness(50%);

}
.bg2 {
    background-image: url(./assets/ventbg02.png);
    width: 780px;
    height: 682px;
    padding-right: 10px;
    background-size: cover;
    filter: brightness(50%);
}