@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:ital,wght@0,300;0,400;1,200&family=Poppins:ital,wght@0,300;0,400;1,500&family=Rubik:wght@300;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Mulish:ital,wght@0,300;0,400;1,200&family=Poppins:ital,wght@0,300;0,400;1,500&family=Rubik:wght@300;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Rubik" "sans-serif";
}
